body
{
    padding-top: 80px;
}

.container
{
    max-width: 950px;
}

.post .details .time
{
    opacity: 0.75;
}

.post .selftext
{
    margin-top: 20px;
}

.post .selftext .selftext-content p:last-child
{
    margin-bottom: 0;
}

comment > .panel
{
    margin-bottom: 10px;
}

comment:last-child > .panel
{
    margin-bottom: 0;
}

comment > .panel.no-replies p:last-child
{
    margin-bottom: 0;
}