body
{
    padding-top: 80px;
}

.container
{
    max-width: 950px;
}

.post
{
    position: relative;
    padding-right: 120px;
}

.post .details .time
{
    opacity: 0.75;
}

.post .selftext
{
    margin-top: 20px;
}

.post .selftext .selftext-content p:last-child
{
    margin-bottom: 0;
}

.post .thumb
{
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    width: 100px;
}

comment > .panel
{
    margin-bottom: 10px;
}

comment:last-child > .panel
{
    margin-bottom: 0;
}

comment > .panel.no-replies p:last-child
{
    margin-bottom: 0;
}

comment .score
{
    font-weight: bold;
}

comment .absolute-time
{
    opacity: 0.75;
}

comment .panel .panel-body
{
    padding: 10px 5px 10px 10px;
}