<div class="post panel panel-default" ng-repeat="post in posts">
    <div class="panel-body">
        <div class="title">
            <span class="score">{{post.score}}</span> -
            <a href="{{post.url}}">{{post.title}}</a>
            <span class="domain">({{post.domain}})</span>
        </div>
        <div class="details">
            Submitted by
            <a href="#">/u/{{post.author.name}}</a>
            to
            <a href="/r/{{post.subreddit.display_name}}">/r/{{post.subreddit.display_name}}</a>
            <span class="relative-time" am-time-ago="post.moment"></span>
            <span class="time">({{post.moment | amDateFormat:'MMMM Do, h:mm a'}})</span>
        </div>
        <div class="buttons">
            <a class="post-button" href="{{post.permalink}}">{{post.num_comments}} comments</a>
            <span class="stickied" ng-if="post.stickied"> - stickied post</span>
        </div>
        <div class="thumb" ng-style="{'background-image':'url('+post.thumbnail+')'}"></div>
    </div>
</div>